/* ---------- SMALL PHONES, SMALL TABLETS ------- */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        position: absolute;
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }
}

/* ---------- SMALL PHONES, SMALL TABLETS ------- */
@media only screen and (max-width: 1023px) {
    h1 {
        font-size: 200%;
    }

    body {
        font-size: 18px
    }

    section {
        padding: 60px 0;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .steps-box {
        margin-top: 10px;
    }

    .steps-box:last-child {
        margin-top: 10px;
    }

    .works-step {
        margin-bottom: 40px;
    }

    .works-step:last-of-type {
        margin-bottom: 60px;
    }

    .app-screen {
        width: 100%
    }

    .btn-app img{
        width: 20%;
        height: auto;
    }

    .btn-app:link, .btn-app:visited {
        filter: none;
    }

    .icon-big {
        margin-right: 5px;
        width: 20%;
    }

    .city-feature {
        font-size: 90%
    }

    .plan-box {
        width: 100%;
        margin-left: 0;
        font-size: 80%;
    }

    .plan-price {
        font-size: 250%;
    }

    .contact-form {
        width: 80%
    }
}

/* ---------- SMALL PHONES, SMALL TABLETS ------- */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 30px 0;
    }

    .row, .hero-text-box {
        padding: 0 4%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .box {
        text-align: center;
        border-radius: 5px;
        width: 90%;
        border: 2px solid #efefef;

    }

    .row .box {
        margin-left: 5%;
    }

    .box img {
        width: 80%;
    }

    .box div {
        background-color: #efefef;
        border-radius: 5px;
        padding-top: 5px;
    }

    .main-nav {
    display: none;
    }
    .mobile-nav-icon {
        display: inline-block;
    }

    .main-nav {
        float: left;
        margin-top: 25px;
        margin-left: 25px;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,  .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 5px 0;
    }

    .sticky .main-nav { margin-top: 10px}

    .sticky .main-nav li a:link, .sticky .main-nav li a:visited {
        padding: 10px 0;
    }

    .sticky .mobile-nav-icon ion-icon {
        color: #555555;
    }

    .sticky .mobile-nav-icon {
        margin-top: 10px;
    }

    h1 {
        font-size: 180%
    }

    h2 {
        font-size: 150%
    }

    .section-cities h3 {
        border-top: 1px solid #efefef;
        padding-top: 10px;
    }

    .long-copy {
        width: auto;
        margin-left: 0;
    }

    .steps-box:first-child {
        text-align: center;
    }

    .works-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
    }

    .works-step {
        margin-bottom: 20px;
    }

    .works-step:last-of-type {
        margin-bottom: 20px;
    }

    .app-screen {
        width: 50%;
    }

    .btn-app img{
        width: 10%;
        height: auto;
    }

    .quotes {
        font-size: 110%;
        line-height: 120%;
    }

    .quotes li {
        margin-top: 20px;

    }

    .logo {
        width: 50px;
        height: auto;
    }

    .city-feature {
        text-align: left;
        font-size: 110%;
        padding-bottom: 10px;
    }

    .city-feature img{
        width: 8%;
        height: auto;
    }

    .plan-box {
        text-align: center;
        width: 100%;
        font-size: 90%;
    }

    footer {
        font-size: 110%;
    }

    footer .long-copy {
        width: 100%;
    }

    .job-box:hover, .job-box:active {
        transform: none;
    }

    .plan-price {
        font-size: 150%;
    }

}

/* ---------- SMALL PHONES ------- */
@media only screen and (max-width: 480px) {

    section {
        padding: 25px 0;
    }

    .contact-form {
        width: 100%;
    }
}